.bookmark-container{
    background-color: #F3F3F3;
    position: sticky;
    top:0;
    height: 100%;
    padding: 20px;
}
.blogs{
    display: flex;
    justify-content: space-between;
}
.spent{
    background-color:#EFEDFD ;
    border:1px solid #1393FE;
    margin:20px 0px;
    padding: 10px;
    border-radius: 5px;
}