.bookmark-container{
    background-color: #F3F3F3;
    position: sticky;
    top:0;
    height: 900px;
    padding: 20px;
    border-radius: 5px;
}
.blogs{
    display: flex;
    justify-content: space-around;
}
.spent{
    background-color:#EFEDFD ;
    border:1px solid #1393FE;
    margin:20px 0px;
    padding: 10px;
    border-radius: 5px;

}
.spent h3{
    color:#1393FE
}